@using UserProfile.Views.Components
@model IEnumerable<UserProfile.Models.BlogModel>

@{
    ViewData["Title"] = "Index";
    IList<BlogModel> blogs = new List<BlogModel>();
    UserDetails aa = new UserDetails
    {
        userName = "Tom",
        alias = "tomAlias",
        website = "tom.ca",
        socialUrl = "friends.com/tom",
        email = "tom@gmail.com",
        dob = DateTime.Parse("1989-2-12"),
    };
    blogs.Add(new BlogModel {

        Name ="Blog A",
        Content ="Blog A Content" ,
        Slug = "Covid"



    });


    blogs.Add(new BlogModel
    {

        Name = "Blog A",
        Content = "Blog A Content",
        Slug = "Covid"



    });


    blogs.Add(new BlogModel
    {

        Name = "Blog B",
        Content = "Blog A Content",
        Slug = "Covid"



    });



    blogs.Add(new BlogModel
    {

        Name = "Blog C",
        Content = "Blog A Content",
        Slug = "Covid"



    });


    blogs.Add(new BlogModel
    {

        Name = "Blog D",
        Content = "Blog A Content",
        Slug = "Covid"



    });
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@(await Html.RenderComponentAsync<BlogList>(RenderMode.ServerPrerendered, new BlogList { ModelList = blogs }))